
:root{
    --bg-first: hsl(210, 11%, 15%);
    --bg-second: hsl(210, 11%, 25%) ;
    --bg-third: hsl(210, 11%, 45%);
    --font-first: hsl(210, 50%, 25%);
    --font-second: hsl(210, 100%, 65%);
}

body {
    background-color: var(--bg-first);
}
