
<form {% if form.archivo %} enctype="multipart/form-data" {% endif %}hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      {{ form }}
    </div>

    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancelar </button>
    <input type="submit"
           value="Confirmar" class="btn btn-primary"
           name="archivo">
  </div>
</form>

