{% load static %}

<div>
    <ul class="nav flex-column"><li class="nav-item">
            <a class="nav-link" href="{% url 'tabla' 'aprobadas' %}">
                <i class='bx bx-horizontal-left'></i>
            </a>
            <div class="tooltip">
                <span class="text"> Materias Aprobadas</span>
            </div>
        </li> <!-- Aprobadas -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tabla' 'cursando' %}">
                <i class='bx bx-horizontal-center'></i>
            </a>
            <div class="tooltip">
                <span class="text"> Cursada Actual</span>
            </div>
        </li> <!-- Actual -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tabla' 'proximo' %}">
                <i class='bx bx-horizontal-right'></i>
            </a>
            <div class="tooltip">
                <span class="text"> Próximo Semestre</span>
            </div>
        </li> <!-- Proximo -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tabla' 'plan' %}">
                <i class='bx bx-copy-alt' id="plan2"></i>
            </a>
            <div class="tooltip">
                <span class="text"> Plan de estudios</span>
            </div>
        </li> <!-- Plan -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tabla' 'todas' %}" id="lista_materias">
                <i class='bx bx-grid-alt id="todas2"'></i>
            </a>
            <div class="tooltip">
                <span class="text"> Todas las Materias</span>
            </div>
        </li> <!-- Todas -->
        <li class="nav-item">
            <a type="button" class="nav-link" hx-get="{% url 'update_forms' 'plan' %}" hx-target="#dialog">
                <i class='bx bx-notepad'></i>
            </a>
            <span class="tooltip"> Elegir Plan</span>
        </li> <!-- ELEGIR PLAN -->
        <li class="nav-item">
            <a type="button" class="nav-link" hx-get="{% url 'update_forms' 'cursando' %}"  hx-target="#dialog">
                <i class='bx bx-select-multiple'></i>
            </a>
            <span class="tooltip"> Cambiar Cursadas</span>
        </li> <!-- CURSADAS -->
        <li class="nav-item">
            <a type="button" class="nav-link" hx-get="{% url 'update_forms' 'historia' %}"  hx-target="#dialog">
                <i class='bx bx-upload'></i>
            </a>
            <span class="tooltip"> Cargar Historia</span>
        </li>
    </ul>
</div>


<!-- HTMX-->
<script src="https://unpkg.com/htmx.org@1.9.4"></script>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
