{% extends 'background.html' %}
{% load static %}

{% block content %}
    <h2 class="text">{{ titulo }}</h2>
    <table class="table table-sm table-sortable table-striped table-bordered">
        <thead class="table-dark" id="tHeaders">
        <tr>
            {% for header in columnas %}
                <th class="centered ">{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for materia in materias %}
            <tr>
                {% for key, values in materia.items %}
                    <td class="cell {{ key }}">{{ values }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>

    </table>

<script src="{% static 'js/sortTable.js' %}"></script>
{% endblock %}